.App-header
{
    text-align: center;
    background-color: #bf3b3b;
    height: 248px;
    padding: 20px;
    color: #fff;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.App-logo
{
    height: 85px;
}
.btn-info
{
 background-color: blue;
 border-color: blue;
 color: #fff;
 background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
 border-radius: 4px;
 height: 40px;
 width: 80px;
}
.form-gr
{
    text-align: center;
}
.form-control
{
    width: 95%;
    height: 37px;
    border: 1px solid grey;
    font-family: cursive;
}
body{
    font-family: sans-serif;
}