body
{
text-align: center;
}
.App-header
{
    text-align: center;
    background-color: #bf3b3b;
    height: 248px;
    padding: 20px;
    color: #fff;
}
.App-logo
{
    height: 85px;
}
.App-intro {
    font-size: small;
    padding: 45px;
}
.btn-primary
{
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    background-repeat: repeat-x;
    border-color: #245580;
    color: #fff;
    background-color: #007bff;
}
.btn,button
{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-success
{
    background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
    color: #fff;
}
.form-control
{
    display: block;
    width: 95%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#tab
{
    border-collapse: collapse;
    border: 1px solid #bf3b3b!important;
    text-align: center;
    width: 90%;
    font-size: 1.09rem;
    height: 55px;
    
    margin-left: 5%;
}
.table-border
{
    border: 1px solid #bf3b3b;
    background-color: wheat;
    text-align: center;
    inline-size: 1.5rem;
    font-size: 1.09rem;
} 
#logout
{
    width: 12%;
    height: auto;
    border-radius: 5%;
    color: #ffffff;
    font-size: 16px;
    margin-left: 87%;
    text-align: center;
}
#dashboard
{
    width: 12%;
    height: auto;
    border-radius: 0.25rem;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}
#delBut
{
    background-image: -webkit-gradient(linear,left top,left bottom,from(red),to(red));
    background-repeat: repeat-x;
    border-color:red;
    color: #fff;
}